# Project

In [2]:
# import data
import pandas as pd
df = pd.read_csv("sample-store.csv")

In [11]:
# preview top 5 rows

df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country/Region,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2019-152156,11/8/2019,11/11/2019,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2019-152156,11/8/2019,11/11/2019,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2019-138688,6/12/2019,6/16/2019,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2018-108966,10/11/2018,10/18/2018,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2018-108966,10/11/2018,10/18/2018,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [23]:
# shape of dataframe
df.shape

(9994, 21)

In [2]:
# see data frame information using .info()
df.info()

NameError: NameError: name 'df' is not defined

We can use `pd.to_datetime()` function to convert columns 'Order Date' and 'Ship Date' to datetime.

In [2]:
# example of pd.to_datetime() function
pd.to_datetime(df['Order Date'].head(), format='%m/%d/%Y')

In [6]:
# TODO - convert order date and ship date to datetime in the original dataframe

df['Order Date']=pd.to_datetime(df['Order Date'], format='%m/%d/%Y')
df['Ship Date']=pd.to_datetime(df['Ship Date'], format='%m/%d/%Y')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Row ID          9994 non-null   int64
 1   Order ID        9994 non-null   object
 2   Order Date      9994 non-null   datetime64[ns]
 3   Ship Date       9994 non-null   datetime64[ns]
 4   Ship Mode       9994 non-null   object
 5   Customer ID     9994 non-null   object
 6   Customer Name   9994 non-null   object
 7   Segment         9994 non-null   object
 8   Country/Region  9994 non-null   object
 9   City            9994 non-null   object
 10  State           9994 non-null   object
 11  Postal Code     9983 non-null   float64
 12  Region          9994 non-null   object
 13  Product ID      9994 non-null   object
 14  Category        9994 non-null   object
 15  Sub-Category    9994 non-null   object
 16  Product Name    9994 non-null   object
 17  Sales           9994 non-null   float64
 18  Quantity        9994 non-null   int64
 19  Discount        9994 non-null   float64
 20  Profit          9994 non-null   float64
dtypes: datetime64[ns](2), float64(4), int64(2), object(13)
memory usage: 1.6+ MB

In [27]:
# TODO - count nan in postal code column
df['Postal Code'].isna().sum()

11

In [28]:
# TODO - filter rows with missing values
df2 = df.dropna()
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9983 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Row ID          9983 non-null   int64
 1   Order ID        9983 non-null   object
 2   Order Date      9983 non-null   datetime64[ns]
 3   Ship Date       9983 non-null   datetime64[ns]
 4   Ship Mode       9983 non-null   object
 5   Customer ID     9983 non-null   object
 6   Customer Name   9983 non-null   object
 7   Segment         9983 non-null   object
 8   Country/Region  9983 non-null   object
 9   City            9983 non-null   object
 10  State           9983 non-null   object
 11  Postal Code     9983 non-null   float64
 12  Region          9983 non-null   object
 13  Product ID      9983 non-null   object
 14  Category        9983 non-null   object
 15  Sub-Category    9983 non-null   object
 16  Product Name    9983 non-null   object
 17  Sales           9983 non-null   float64
 18  Quantity        9983 non-null   int64
 19  Discount        9983 non-null   float64
 20  Profit          9983 non-null   float64
dtypes: datetime64[ns](2), float64(4), int64(2), object(13)
memory usage: 1.7+ MB

In [ ]:
# TODO - Explore this dataset on your owns, ask your own questions

## Data Analysis Part

Answer 10 below questions to get credit from this course. Write `pandas` code to find answers.

In [32]:
# TODO 01 - how many columns, rows in this dataset
df.shape
# 9994 row and 21 cols

(9994, 21)

In [ ]:
# TODO 02 - is there any missing values?, if there is, which colunm? how many nan values?

# ANS yes,postal code column. nan values are 11.

In [8]:
df['State'].unique()

In [50]:
# TODO 03 - your friend ask for `California` data, filter it and export csv for him
send_friend = df[df["State"] == 'California'] 
send_friend.to_csv('tofriend.csv')

In [7]:
import datetime as dt
#df['Order Date'] = pd.to_datetime(df['Order Date'])
#df[df['Order Date'].dt.year == 2017]

In [23]:
# TODO 04 - your friend ask for all order data in `California` and `Texas` in 2017 (look at Order Date), send him csv file
mrnList = ["Texas","California"]
df_filtered = df[df['State'].isin(mrnList) & (df['Order Date'].dt.year == 2017)]
df_filtered.to_csv('tofriend12.csv')

#df[df['Order Date'].dt.year == 2017]
#df[(df["State"]=="Texas") & (df["State"]=="California")]
        
#f[df['category'] == 'Furniture'][['customer_name','segment','category']].head(20)
#df.groupby("State")["Texas"]
#df.loc[(df["State"] == 'Texas')|(df["State"] == 'California') |(df['Order Date'].dt.year == 2017)]  
#f2.to_csv('tofriend12.csv')

In [27]:
# TODO 05 - how much total sales, average sales, and standard deviation of sales your company make in 2017
sf=df[df['Order Date'].dt.year == 2017]

print(f"total sales is {sf.Sales.sum().round(2)}")
print(f"average sales is {sf.Sales.mean().round(2)}")
print(f"standard deviation of sales is {sf.Sales.std().round(2)}")

total sales is 484247.5
average sales is 242.97
standard deviation of sales is 754.05

In [10]:
# TODO 06 - which Segment has the highest profit in 2018
#df[df['Profit']  == max(df['Profit'])] 
#print("Corporate made highest profit")
sf18=df[df['Order Date'].dt.year == 2018]
aa=sf18.groupby('Segment')['Profit'].agg(['sum','mean','count','min','max'])
aa
#  segment consumer made highest profit

,sum,mean,count,min,max
Segment,,,,,
Consumer,28460.1665,25.297926,1125,-2639.9912,3177.4750
Corporate,20688.3248,32.528813,636,-1031.5385,2302.9671
Home Office,12470.1124,36.569245,341,-525.6405,1906.4850

In [7]:
# TODO 07 - which top 5 States have the least total sales between 15 April 2019 - 31 December 2019
#sf18=df[df['Order Date'].dt.year == 2018]
#df.loc[datetime.date(year=2014,month=1,day=1):datetime.date(year=2014,month=2,day=1)]
#df.loc[dt.date(year=2019,month=8,day=15):dt.date(year=2019,month=12,day=31)]
start_date = "8/15/2019"
end_date =  "12/31/2019"
mask = df[(df['Order Date'] > start_date ) & (df['Order Date'] <= end_date)]
mask
mask.groupby('State')['Sales'].agg(['sum']).sort_values(by = ['sum'],ascending=False).head().round(2)
#df.sort_values(by=['col1', 'col2'])
#df[(df['Order Date']>dt.date(15,8,2019)) & (df['Order Date']<dt.date(31,12,2019))]

,sum
State,
California,69504.22
New York,38138.64
Indiana,24382.66
Texas,19885.07
Michigan,19207.51

In [12]:
# TODO 08 - what is the proportion of total sales (%) in West + Central in 2019 e.g. 25% 
af=df[df['Order Date'].dt.year == 2019]
West=af[af['Region']=='West']['Sales'].sum()
Central=af[af['Region']=='Central']['Sales'].sum()
tt=af['Sales'].sum() # 609205.598

propotion=(West + Central) /  tt*100
print(f"proportion of total sales {propotion.round(2)}")
#af.groupby('Region')['Sales'].sum()

proportion of total sales 54.97

In [14]:
# TODO 09 - find top 10 popular products in terms of number of orders vs. total sales during 2019-2020

start_date = "01/01/2019"
end_date =  "12/01/2020"
mask = df[(df['Order Date'] >= start_date ) & (df['Order Date'] <= end_date)]
#mask
#mask.groupby('Product Name')[['Order ID'],['Sales']].sum()
mask.groupby('Product Name')['Sales','Quantity'].sum().sort_values(by = ['Sales','Quantity'],ascending=False).head().round(2)
#result = df.groupby(['state','segment'])['profit'].sum().reset_index()
#mask.groupby('Order ID')['Order Date'].count()

<ipython-input-14-400e6567b4ca>:8: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  mask.groupby('Product Name')['Sales','Quantity'].sum().sort_values(by = ['Sales','Quantity'],ascending=False).head().round(2)

,Sales,Quantity
Product Name,,
Canon imageCLASS 2200 Advanced Copier,61599.82,20
"3D Systems Cube Printer, 2nd Generation, Magenta",14299.89,11
GBC Ibimaster 500 Manual ProClick Binding System,13621.54,31
Hewlett Packard LaserJet 3310 Copier,13199.78,25
GBC DocuBind TL300 Electric Binding System,12737.26,21

In [18]:
# TODO 10 - plot at least 2 plots, any plot you think interesting :)
import pandas as pd
import matplotlib.pyplot as plt

df.plot(kind = 'scatter', x = 'Sales', y = 'Profit')

plt.show()

In [11]:
aa.plot(kind='bar', stacked=True, figsize=(9,6))

In [20]:

# TODO Bonus - use np.where() to create new column in dataframe to help you answer your own questions
import array
import numpy as np
a = np.arange(10)
np.where(a < 5, a, 10*a)